<section id="projects">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="project in projects">
                <article class="project-item" project-item>
                    <div class="card">
                        <div class="front" ><div class="image" style="background: url('img/<% project.id %>.jpg')"></div></div>
                        <div class="back">
                            <div class="details">
                                <h2>
                                    <a href="<% project.url %>">
                                        <% project.name %>
                                    </a>
                                </h2>
                                <p><% project.technology %></p>
                                <p><% formatDate(project.done_date, 'yyyy') %></p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>